*, html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}


/*Center the loader*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -75px 0 0 -75px;
    border: 10px solid #c9c9c9;
    border-top: 10px solid #3498db;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/*Add animation to "page content"*/
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
    from {bottom: -100px; opacity: 0;}
    to {bottom: 0px; opacity: 1;}
}

@keyframes animatebottom {
    from {bottom: -100px; opacity: 0;}
    to {bottom: 0px; opacity: 1;}
}

#myDiv {
    display: none;
    text-align: center;
}

header {
    height: 60px !important;
}

header a {
    font-weight: bold;
}

header a:hover {
    font-weight: bolder;
    color: #01d262 !important;
}

header .navbar-brand {
    color: #01d262 !important;
}

.onboard-inner{
    margin: 0 auto;
    width: 70%;
    padding: 150px 0;
    color: white;
}

.onboard-inner h3, .onboard-inner p {
    margin-bottom: 30px;
}

section .btn {
    line-height: 35px;
    padding: 7px 40px;
    border-radius: 50px;
    color: #01d262;
    border: 1px solid #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    margin: 10px;
}

section .btn:hover {
    background-color: transparent;
    color: white;
}


.section {
    margin: 50px auto;
}



.section .features {
    border-radius: 7px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.212);
    margin-bottom: 30px;
}

.section h2 {
    margin: 40px 0 30px 0;
    color: #3c354e;
}

.section .features img {
    height: 200px;
    width: 100%;
    margin-bottom: 40px;
}

.section .features h4 {
    margin-bottom: 20px;
}

.section .features .progress-text {
    width: 80%;
    margin: 10px auto;
}

.section .features .progress-text a {
    color: #0cdd6e !important;
}

.section .features .progress {
    margin: 0 auto;
    height: 10px;
    background-color: #c9c9c9;
}

.section .features .progress-bar {
    background-color: #0cdd6e;
}

.donate {
    line-height: 35px;
    padding: 7px 40px;
    border-radius: 50px;
    color: #01d262;
    border: 1px solid #01d262;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    margin: 30px auto;
    margin-top: 20px;
}

.donate:hover {
    background-color: #0cdd6e;
    border: 1px solid white;
    color: white;
}

.latest-causes .progress {
    max-width: 700px;
    margin: 0 auto;
    height: 10px;
    background-color: #1eb464;
}

.latest-causes .progress-bar {
    background-color: #fff;
}

.latest-causes .progress-text {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.latest-causes .progress-text .progress {
    margin: 20px auto;
}

.counter {
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.212);
}

.causes, .volunteers, .donors, .saved {
    margin: 70px 0;
}

.counter-count {
    color: #0cdd6e;
}

.causes-p, .volunteers-p, .donors-p, .saved-p {
    color: #665353;
    margin-top: 30px;
}

form {
    margin-top: 50px;
}

.form-control {
    border: 1px solid white;
    background: transparent;
    height: 3em;
    border-radius: 10px;
    text-align: left;
}

.donation img {
    height: 150px;
    border-radius: 10%;
}

.blog {
    padding: 0 20px;
    text-align: left;
}

.blog a {
    color: #000;
    font-weight: 400;
}

.blog a:hover {
    color: #01d262;
}

.section form .btn {
    line-height: 35px;
    padding: 7px 40px;
    border-radius: 50px;
    color: white;
    border: 1px solid white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #01d262;
    margin: 10px;
}

.section .btn:hover {
    background-color: transparent;
    color: #01d262;
    border: 1px solid #01d262;
}


.footer {
    background-color: #232323;
    padding: 30px;
    color: white;
}

.footer h4 {
    color: #01d262;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #78ca9e;
    text-decoration: none;
}



.dmtop {
    background-color: rgb(26, 27, 27);
    z-index: 100;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: -100px;
    border-radius: 3px;
    right: 10px;
    text-align: center;
    font-size: 28px;
    color: #ffffff !important;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}